div {
    position: relative;
    /*border: 3px solid green;*/
}

body {
    align-items: center;
    text-align: center;
    background-color: powderblue;
}

#bodydiv {
    padding: 30px;
    top: 20px;
    width: 1030px;
    background-color: antiquewhite;
    margin: 0% auto;
}

h2 {
    border-top: 30px;
}

#introcontainer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: table;
}

#textdiv {
    display: inline-block;
    vertical-align: top;    
    right: 0;
    margin: 0% auto;
    padding: 0%;
    width: 700px;
    height: 800px;
}

.text {
    border: 1px solid slategray;
    background-color: antiquewhite;
    text-align: left;
    text-indent: 20px;
    margin: 0;
    position: relative;
    
}

#introtextdiv {
    padding: 20px;
    top: 0px;
}

#linkdiv {
    text-align: left;
    top: 20px;
}

#githubpic {
    width: 34px;
    height: 32px;
}

#emailpic {
    widows: 33px;
    height: 33px;
}

#projecttextdiv {
    padding: 20px;
    top: 50px;
}

#picdiv {
    display: inline-block;
    vertical-align: top;    
    right: 0;
    margin: 0% auto;
    padding: 0%;
    width: 300px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
canvas {
    border: 1px solid black;
}

#preview {
    color: blue;
    text-decoration: underline;
}
  
#selfpic {
    width: 278px;
    height: 578px;
    align-content: center;
}
